/* APPARITION MENU */

@keyframes Slideup {
  0% {
    transform: translateY(-10px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

/* LOADER SPINNER */

@keyframes loader__fadein {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 1;
    transform: scale(1);
  }

  90% {
    opacity: 1;
    transform: scale(1);
  }

  99% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes spinner {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}