/* POLICES DE CHARACTERES */

$typo__regular : "Roboto-Regular";
$typo__thin : "Roboto-Thin";
$typo__medium : "Roboto-Medium";
$typo__bold : "Roboto-Bold";
$typo__menu__title : "Shrikhand-Regular";

/* COULEURS */

$background__color : #f7f7f7;
$background__color--light : #ffffff;
$background__color--dark : #eaeaea;
$background__color--moredark : #353535;
$background__color__hover: #f5edff;

$color__primary : #9356DC;
$color__secondary : #FF79DA;
$color__terciary : #99E2D0;

$text__color--primary : #000000;
$text__color--secondary : #7e7e7e;
$text__color--newtag : #008766;
$text__color--footer : #ffffff;

/* PADDING & MARGIN */

$h2__padding : 45px 35px 10px 20px;
$h3__margin :  2px 0 1px 10px;
$card__padding : 10px 50px 10px 10px;
$cardrestaurant__localisation__margin : 2px 0 1px 10px;
$menu__padding : 5px 0 5px 5px;
$newtag__margin : 10px 0 0 225px;


