footer {
    background-color: $background__color--moredark;
    padding-bottom: 35px;
    margin-top: 50px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color : $text__color--footer;
    margin-bottom: 0;
    & li {
        padding: 0.5rem;
    }
}