.functioning__list {
    counter-reset: steps;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 18rem;
    padding: 2rem;

    @media (min-width: 1224px) {
        flex-direction: row;
        height: 10rem;
    }

    & :hover {
        background-color: $background__color__hover;
    }

    & li {
        width: 18rem;
        height: 2rem;
        @include box__shadow;
        background-color: $background__color;
        border-radius: 1rem;
        padding: 1.5rem 2rem 1rem 1rem;
        text-decoration: none;
        position: relative;

        @media (min-width: 1224px) {
            width: 20rem;
        }

        &:before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: $color__primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            position: absolute;
            left: -0.75rem;
        }
    }

    &__text {
        font-family: $typo__medium;
        color: $text__color--primary;
        padding-left: 3rem;
    }

}