.functioning__container {
    counter-reset: steps;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15.625rem;
    padding: 0;
    margin-bottom: 3.75rem;
    & :hover {
        background-color: $background__color__hover;
    }
    & li {
        width: 17.5rem;
        height: 1.875rem;
        @include box__shadow;
        background-color: $background__color;
        border-radius: 0.75rem;
        padding: 24px 37px 16px 3px;
        text-decoration: none;
        position: relative;
    & .functioning__text {
        font-family: $typo__medium;
        color: $text__color--primary;
        padding-left: 45px;
    }
    &:before {
        content: counter(steps);
        counter-increment: steps;
        color: white;
        background-color: $color__primary;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        left: -0.75rem;
    }
        }
    }