.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $background__color--dark;
    box-shadow: inset 0px 6px 13px -6px rgba(0,0,0,0.31)
}