@import '../utils/variables';
@import '../utils/animations';

.menu__cover__img {
    position: absolute;
    max-width: 100%;
    max-height: 22rem;
    width: 100%;
    object-fit: cover;
}

.menu__container {
    position: relative;
    z-index: 1;
    background-color: $background__color;
    border-radius: 2.5rem 2.5rem 0 0;
    margin-top: -4rem;

    & .h2__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include heart__transition;
    }

    & .all__menus {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    & .menu__item {
        display: flex;
        justify-content: space-between;
        align-items: self-end;
        line-height: 1.5rem;
        width: auto;
        height: auto;
        margin: 1.125rem;
        background-color: $background__color--light;
        border-radius: 0.75rem;
        cursor: pointer;
        overflow: hidden;
        @include box__shadow;

        & .menu__info {
            padding: 0.4rem;
            max-width: 100%;
            overflow: hidden;
            flex: 1;
            display: flex;
            justify-content: space-between;       
        }

        & .menu__description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .menu__title {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .menu__details {
            font-family: $typo__thin;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .menu__price {
            font-family: $typo__bold;
            display: flex;
            align-items: flex-end;
            padding-right: 0.3rem;
        }

    }

    & .choice__confirmation {
        background-color: $color__terciary;
        margin-right: -80px;
        width: 5rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;
    }

    & :hover+.choice__confirmation {
        margin-right: 0;
    }

}

.choice__confirmation {
    &:hover {
        margin-right: 0px;
    }
}

.menu__item--1 {
    opacity: 0;
    animation: Slideup 1.5s forwards;
    -webkit-animation-delay: 0s;
}

.menu__item--2 {
    opacity: 0;
    animation: Slideup 1.5s forwards;
    -webkit-animation-delay: 0.2s;
}

.menu__item--3 {
    opacity: 0;
    animation: Slideup 1.5s forwards;
    -webkit-animation-delay: 0.4s;
}

.menu__item--4 {
    opacity: 0;
    animation: Slideup 1.5s forwards;
    -webkit-animation-delay: 0.6s;
}

.menu__list--deserts {
    margin-bottom: 3rem;
}

.order {
    display: flex;
    justify-content: center;
}

/* Si l'écran est inférieur ou égal à */

@media screen and (min-width: 1400px) {
    .menu {
        display: flex;
    }

}