@import "../utils/mixins";
@import "../utils/variables";

.card__restaurant {
    width: 330px;
    height: 210px;
    margin: 15px;
    background-color: $background__color--light;
    border-radius: 20px;
    @include box__shadow;
    & img {
        object-fit: cover;
        width: 330px;
        height: 151px;
        object-position: center;
        border-radius: 20px 20px 0px 0px;
    }
    & .card__restaurant__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }
    @include heart__transition;
}

.new__tag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008766;
    background-color: #99E2D0;
    width: 90px;
    height: 30px;
    margin: $newtag__margin;
}