@import "../utils/mixins";
@import "../utils/variables";

.restaurant__card {
    width: 20.5rem;
    height: 13rem;
    margin: 1rem;
    background-color: $background__color--light;
    border-radius: 1.25rem;
    @include box__shadow;
    transition: transform 450ms ease-in-out;

    @media (min-width: 1224px) {
        width: 33rem;
        height: 18rem;
    }

    &__tag {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text__color--newtag;
        background-color: $color__terciary;
        width: 5.6rem;
        height: 1.8rem;
        margin: $newtag__margin;

        @media (min-width: 992px) {
            margin: 0.5rem 0 0 14rem;
        }

        @media (min-width: 1224px) {
            margin: 0.5rem 0 0 26rem;
        }

    }

    &:hover {
        transform: scale(1.05);
    }

    & img {
        object-fit: cover;
        width: 20.5rem;
        height: 9.5rem;
        object-position: center;
        border-radius: 1.25rem 1.25rem 0 0;

        @media (min-width: 992px) {
            width: 20.5rem;
            height: 9.5rem;
        }

        @media (min-width: 1224px) {
            width: 33rem;
            height: 14rem;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.2rem;
    }

    &__localisation {
        font-family: $typo__thin;
        color: $text__color--primary;
        font-size: 13px;
        margin: $cardrestaurant__localisation__margin;
    }

    &__icon__heart {
        @include heart__transition;
    }
}