@import "../utils/mixins";
@import "../utils/variables";

.card__restaurant {
    width: 20.5rem;
    height: 13rem;
    margin: 1rem;
    background-color: $background__color--light;
    border-radius: 1.25rem;
    @include box__shadow;
    transition: transform 450ms ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    @media (min-width: 992px) {
        width: 33rem;
        height: 18rem;
    }

    @media (min-width: 1224px) {
        width: 33rem;
        height: 18rem;
    }

    & img {
        object-fit: cover;
        width: 20.5rem;
        height: 9.5rem;
        object-position: center;
        border-radius: 1.25rem 1.25rem 0 0;

        @media (min-width: 992px) {
            width: 33rem;
            height: 14rem;
        }

        @media (min-width: 1224px) {
            width: 33rem;
            height: 14rem;
        }
    }

    & .card__restaurant__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.2rem;
    }

    @include heart__transition;
}

.new__tag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text__color--newtag;
    background-color: $color__terciary;
    width: 5.6rem;
    height: 1.8rem;
    margin: $newtag__margin;
}