.fa-location-dot:before, .fa-map-marker-alt:before {
    margin-left: -20px;
}

.icon__item {
    padding-right: 20px;
}

.fa-mobile-screen-button, .fa-list, .fa-store {
    color: #666666;
    margin-left: 20px;
    }

.fa-mobile-screen-button:hover {
    color: $color__primary;
}

.heart {
    font-size: 25px;

}

.heart:hover {
    background-image: linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%); 
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 900;
    font-size: 25px;
}

.fa-arrow-left:before {
    padding-left: 20px;
}

.fa-utensils:before {
    margin-right: 0.85rem;
}

.fa-handshake-angle:before {
    margin-right: 0.55rem;
}