.fa-location-dot:before,
.fa-map-marker-alt:before {
    margin-left: -1.25rem;
}

.icon__item {
    padding-right: 1.25rem;
}

.fa-mobile-screen-button,
.fa-list,
.fa-store {
    color: #666666;
    margin-left: 1.25rem;
}

.fa-mobile-screen-button:hover {
    color: $color__primary;
}

.fa-arrow-left:before {
    padding-left: 1.25rem;
}

.fa-utensils:before {
    margin-right: 0.85rem;
}

.fa-handshake-angle:before {
    margin-right: 0.55rem;
}