@import '../utils/variables';

@font-face {
    font-family: "Roboto-Regular";
    src: url('../fonts/Roboto-Regular') format('truetype');
}

@font-face {
    font-family: "Roboto-Thin";
    src: url('../fonts/Roboto-Thin') format('truetype');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('../fonts/Roboto-Medium') format('truetype');
}

@font-face {
    font-family: "Roboto-Bold";
    src: url('../fonts/Roboto-Bold') format('truetype');
}

@font-face {
    font-family: "Shrikhand-Regular";
    src: url('../fonts/Shrikhand-Regular') format('truetype');
}

/* TITRES */

h1 {
    margin: auto;
}

.h1__menu {
    margin: auto;
}

h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    padding: $h2__padding;
}

.h2__reservation {
    text-align: center;
    padding-top: 2rem;
}

.h2__menu {
    font-family: $typo__menu__title;
}

h3 {
    color: $text__color--primary;
    text-decoration: none;
    font-size: 15px;
    margin: $h3__margin;
}

h3:link {
    color: $text__color--primary;
    text-decoration: none;
}

.h3__menu {
    font-family: "Roboto-Thin";
    color: #7e7e7e;
    border-bottom: 3px solid #99E2D0;
    width: 37px;
    margin-top: 40px;
    padding: 0 0 6px;
    font-size: 15px;
}

h4 {
    display: block;
    font-family: $typo__bold;
    color: $text__color--primary;
    margin: 0 0 0 10px;
}

/* LIENS */

a {
    color: $text__color--primary;
    text-decoration: none;
}

/* PAGE D'ACCUEIL */

.city__text {
    font-family: $typo__bold;
    font-size: 16px;
    color: #353535;
}

.card__restaurant__localisation {
    font-size: 13px;
    margin: $cardrestaurant__localisation__margin;
}